<!DOCTYPE html>
<html>
<head>
    <title>Selecciona una aplicación</title>
</head>
<body>
    <h1>Selecciona una aplicación:</h1>
    <select id="appSelector">
        <option value="sentiment_analysis/2012">Análisis de Sentimiento</option>
        <option value="PlayTimeGenre/Action">Tiempo de Juego por Género</option>
        <option value="UserForGenre/Action">Horas jugadas para el género</option>
        <option value="UsersRecommend/2012">juegos MÁS recomendados</option>
        <option value="UsersNotRecommend/2012">juegos MENOS recomendados</option>
        
    </select>
    <button onclick="launchApp()">Abrir Aplicación</button>

    <script>
        function launchApp() {
            var selectedApp = document.getElementById("appSelector").value;
            window.location.href = '/' + selectedApp;
        }
    </script>
</body>
</html>
